# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env

# Docker files
.dockerignore

# Database data
pgdata/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store